body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:958px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:94px;
  width:100px;
  height:60px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:43px;
  width:506px;
  height:16px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
#u484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:196px;
  width:100px;
  height:60px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:154px;
  width:0px;
  height:0px;
  color:#FF66CC;
}
#u486_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u486_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:20px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:461px;
  width:0px;
  height:0px;
  color:#FF66CC;
}
#u488_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u488_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:20px;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:373px;
  width:518px;
  height:18px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  word-wrap:break-word;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:378px;
  width:0px;
  height:0px;
  color:#000000;
}
#u492_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:8px;
}
#u492_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:203px;
  height:8px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:226px;
  width:0px;
  height:0px;
  color:#000000;
}
#u494_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:5px;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:627px;
  width:100px;
  height:60px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:87px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:501px;
  width:100px;
  height:87px;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:96px;
  word-wrap:break-word;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:588px;
  width:0px;
  height:0px;
  color:#FF66CC;
}
#u500_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u500_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:24px;
  width:20px;
  height:20px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:536px;
  width:457px;
  height:18px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  word-wrap:break-word;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:545px;
  width:0px;
  height:0px;
  color:#000000;
}
#u504_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:155px;
  height:8px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:401px;
  width:100px;
  height:60px;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:401px;
  width:100px;
  height:60px;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:431px;
  width:0px;
  height:0px;
  color:#000000;
}
#u510_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:135px;
  height:8px;
}
#u510_seg1 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:-10px;
  width:20px;
  height:20px;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:256px;
  width:0px;
  height:0px;
  color:#FF66CC;
}
#u512_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u512_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:29px;
  width:20px;
  height:20px;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:300px;
  width:100px;
  height:60px;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:330px;
  width:0px;
  height:0px;
  color:#000000;
}
#u516_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:72px;
  height:8px;
}
#u516_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-10px;
  width:20px;
  height:20px;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:360px;
  width:0px;
  height:0px;
  color:#000000;
}
#u518_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u518_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:26px;
  width:20px;
  height:20px;
}
#u519 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u520 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:300px;
  width:100px;
  height:60px;
}
#u521 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
